<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :domain_name %><br>
    <%= f.select :domain_name, options_from_collection_for_select(Domain.all, 'id', 'name'), {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :page_format %>
    <%= f.select :page_format, ['html', 'xml', 'dhtml'], {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :read_interval %>
    <%= f.text_field :read_interval, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :urls %>
    <%= f.text_area :urls, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
