<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>URL</th>
      <th>Fetched</th>
      <th>Code</th>
      <th>Error?</th>
      <th>Visits</th>
      <th>Response Time</th>
      <th>Feed</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.url, page %></td>
        <td><%= page.fetched_at %></td>
        <td><%= page.code %></td>
        <td><%= !!page.error %></td>
        <td><%= page.visits %></td>
        <td><%= page.response_time %></td>
        <td><%= link_to page.feed.name, page.feed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
