<p id="notice"><%= notice %></p>

<div class="col-xs-10">
  <h2>Attributes</h2>
  <dl class="dl-horizontal">
    <dt>URL</dt>
    <dd><%= @page.url %></dd>
    <dt>fetched_at</dt>
    <dd><%= @page.fetched_at %></dd>
    <dt>code</dt>
    <dd><%= @page.code %></dd>
    <dt>error</dt>
    <dd><%= @page.error %></dd>
    <dt>headers</dt>
    <dd><%= @page.headers %></dd>
    <dt>visits</dt>
    <dd><%= @page.visits %></dd>
    <dt>response_time</dt>
    <dd><%= @page.response_time %></dd>
    <dt>scrape_time</dt>
    <dd><%= @page.scrape_time %></dd>
    <dt>parse_times</dt>
    <dd><%= @page.parse_times %></dd>
  </dl>
  <%= link_to 'Back', pages_path %>
  <hr>
  <div class="col-xs-5">
    <h2>Associations</h2>
    <dl class="dl-horizontal">
      <dt>documents</dt>
      <dd><%= @page.documents.count %></dd>
    </dl>
  </div>
</div>