<p id="notice"><%= notice %></p>

<h1>Listing Scrapes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scrapes.each do |scrape| %>
      <tr>
        <td><%= link_to 'Show', scrape %></td>
        <td><%= link_to 'Edit', edit_scrape_path(scrape) %></td>
        <td><%= link_to 'Destroy', scrape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrape', new_scrape_path %>
