<p id="notice"><%= notice %></p>

<h1>Listing Documents</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Url</th>
      <th>Adapter</th>
      <th>Properties?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.id, document %></td>
        <td><%= link_to document.page.url, document.page %></td>
        <td><%= link_to document.adapter.name, document.adapter %></td>
        <td><%= document.properties.present? %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
