<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rate_limit %>
    <%= f.select :rate_limit, options_from_collection_for_select(RateLimit.all, 'id', 'name'), {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :max_readers %>
    <%= f.text_field :max_readers, class: 'form-control' %>
  </div>

    <div class="actions">
      <%= f.submit class: "btn btn-default" %>
    </div>
<% end %>
