<p id="notice"><%= notice %></p>

<h1>Listing Domains</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Max Readers</th>
      <th>Rate Limit</th>
      <th>Feeds</th>
      <th>Last Read</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= link_to domain.name, domain %></td>
        <td><%= domain.max_readers %></td>
        <td><%= link_to domain.rate_limit.name, domain.rate_limit %></td>
        <td><%= domain.feeds.count %></td>
        <td><%= domain.created_at %></td>
        <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
        <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain', new_domain_path %>
