<div class="col-xs-10">
  <%= form_for(@adapter) do |f| %>
    <% if @adapter.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@adapter.errors.count, "error") %> prohibited this adapter from being saved:</h2>

        <ul>
        <% @adapter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :schema_name %>
      <%= f.select :schema_name, options_from_collection_for_select(Schema.all, 'name', 'name'), {}, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :mapping %>
      <%= f.select :mapping, options_from_collection_for_select(Mapping.all, 'id', 'id'), {}, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :script_names %><span id="add_script_row"></i>
      <% (0..2).to_a.each do |i| %>
        <div id="script_name_<%= i %>">
          <%= f.select "script_name_#{i}", options_from_collection_for_select(Script.all, 'name', 'name', @adapter.script_names[i]), {include_blank: true}, { class: 'form-control' } %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :xpath %>
      <%= f.text_field :xpath, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :property_setters %>
      <%= f.text_area :property_setters, class: 'form-control', rows: 30 %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<div class="col-xs-10">
  <hr>
  <%= form_for(@scrape, remote: true, html: { class: "form-inline" }) do |f| %>
    <%= f.hidden_field :xpath %>
    <%= f.hidden_field :mapping %>
    <%= f.hidden_field :schema_name %>
    <%= f.hidden_field :property_setters %>
    <%= f.hidden_field :script_names %>

    <div class="form-group">
      <%= f.text_field :url, class: 'form-control', placeholder: 'http://example.com/' %>
      <%= f.submit "Test Adapter", class: "btn btn-default" %>
    </div>
  <% end %>

  <div id="scrape-results">
  </div>
</div>