<%= form_for(@adapter) do |f| %>
  <% if @adapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adapter.errors.count, "error") %> prohibited this adapter from being saved:</h2>

      <ul>
      <% @adapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :id %>
    <%= f.text_field :id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :schema_id %>
    <%= f.select :schema_id, options_from_collection_for_select(Schema.all, :id) class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :script_ids %>
    <%= f.text_field :script_ids, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :xpath %>
    <%= f.text_field :xpath, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :property_setters %>
    <%= f.text_area :id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
