<p id="notice"><%= notice %></p>

<h1>Listing Schemas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adapters</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @schemas.each do |schema| %>
      <tr>
        <td><%= link_to schema.name, schema %></td>
        <td><%= schema.adapters.count %></td>
        <td><%= link_to 'Edit', edit_schema_path(schema) %></td>
        <td><%= link_to 'Destroy', schema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schema', new_schema_path %>
